@using Chat_AspnetCore.Models
@{
    ViewData["Title"] = "Home Page";

    string? username = "Loggin for access chat";
    string usernametitle =  "Loggin for access chat";
    var user = ViewBag.ApplicationUser;

    if(User.Identity.IsAuthenticated)
    {
        username = (User.Identity.Name.Length > 18)
            ?  User.Identity.Name.Substring(0, 18) + "..."
            : User.Identity.Name;

        usernametitle = User.Identity.Name;
    }
}

<div class="text-center">
    <div id="chat-asp">
        <div id="chat-asp-container">
            <div id="chat-asp-content">
                @foreach(Message message in ViewBag.Messages)
                {
                     @if(message.UserId == user.Id)
                    {
                        <div class="message me">
                            <div class="message-content">@message.Content</div>
                            <div class="message-time">@message.CreatedAt</div>
                        </div>
                    }
                    else
                    {
                        <div class="message else">
                            <div class="message-user">@message.UserName</div>
                            <div class="message-content">@message.Content</div>
                            <div class="message-time">@message.CreatedAt</div>
                        </div>
                    }
                } 
            </div>
            <div id="chat-asp-footer">
                <div id="chat-asp-container-text">
                    <input placeholder="Send a message ..." type="text" id="chat-asp-input">
                    <button id="chat-asp-send-message-button">
                        <i class="material-icons">send</i>
                    </button>
                </div>
            </div>
        </div>
        <input type="hidden" value="@user?.Id" id="IdUser">
    </div>
</div>

